@media (max-width: 1000px) {
  /* Side Arrows */
  .box1 {
    display: none;
  }
  .box3 {
    display: none;
  }
  #re-img-disappear {
    margin-top: 0%;
  }
}
@media (max-width: 1400px) {
  #floated-imgs {
    display: none;
  }
  #re-img-disappear {
    margin-top: 0%;
  }
  /* Transparent Login Window */
  div.login-window {
    border-radius: 35px;
    background: rgba(255, 255, 255, 0.7);
    height: 500px;
    width: 450px;
    color: black;
  }
  div.trans-window {
    font-size: 20px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.8);
  }
}
